body{
	background-color:#fff8ed;
}

h1{
	text-align:left;
	font-size: 25px;
	border: solid;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

#atai{
	margin: 20px;
	font-size: 20px;
}

#humidity{
	margin: 10px;
}
#humidity2{
	margin: 10px;
}


#ika{
	color: blue;
}
#ijyo{
	color: red;
}


/*湿度でページ移動*/
.idou{
	float: left;
	background-color: burlywood;
	text-align: center;
	color: white;
	border: solid burlywood;
	border-radius: 10px;
	text-decoration: none;
	margin-bottom: 10px;
	display: block;
	box-shadow: 4px 4px 6px #666666; 
	padding: 2px 20px;
}
.idou:hover{
	text-decoration: underline;
}
.idou:visited{
	color: white;
}